<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Lora:ital@1&family=Open+Sans+Condensed:wght@300&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="../cssall.min.css">
  <script src="../js/all.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="open">
      <div class="header">
        <p class="name">BLUE<span style="color:cornflowerblue;">E</span>ASY</p>
        <div class="folder">
          <button type="button" class="btn btn-outline-light">HOME</button>
          <button type="button" class="btn btn-outline-light">SERVICES</button>
          <button type="button" class="btn btn-outline-light">FEATURES</button>
          <button type="button" class="btn btn-outline-light">PORTFOLIO</button>
          <button type="button" class="btn btn-outline-light">CONTACT</button>
        </div>
      </div>
      <div class="title">
        <div class="writer">"I'M LOOKING FOR THE UNEXPECTED.</br>
          I'M LOOKING FOR THINGS I'VE NEVER SEEN BEFORE."</div>
      </div>
    </div>
    <div class="services">
      <div class="box">
        <div class="product">
          <div class="product-title"><span><u>Ser</u>vices</span></div>
          <div class="product-intro">
            <div class="product-image">
              <img src="../images/Hyruler-Icon-coffee-03.png" alt="">
            </div>
            <p id="product-name">COFFEE</p>
            <p id="product-intro">This is a coffee.</p>
          </div>
        </div>
        <div class="product">
          <div class="product-title"><span></span></div>
          <div class="product-intro">
            <div class="product-image">
              <img src="../images/instant.png" alt="">
            </div>
            <p id="product-name">INSTANT</p>
            <p id="product-intro">This is a instant.</p>
          </div>
        </div>
        <div class="product">
          <div class="product-title"><span></span></div>
          <div class="product-intro">
            <div class="product-image">
              <img src="../images/serious.png" alt="">
            </div>
            <p id="product-name">SERIOUS</p>
            <p id="product-intro">This is a serious.</p>
          </div>
        </div>
        <div class="product">
          <div class="product-title"><span></span></div>
          <div class="product-intro">
            <div class="product-image">
              <img src="../images/frame.png" alt="">
            </div>
            <p id="product-name">FRAME</p>
            <p id="product-intro">This is a frame.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="picture">
      <div class="header">
        <p class="name"><span style="color: black;"><u>POR</u>TFOLIO</span></p>
        <div class="folder">
          <button type="button" class="btn btn-outline-dark">ALL</button>
          <button type="button" class="btn btn-outline-dark">PANORAMAS</button>
          <button type="button" class="btn btn-outline-dark">PORTRAITS</button>
          <button type="button" class="btn btn-outline-dark">MACRO</button>
          <button type="button" class="btn btn-outline-dark">JOURNA</button>
        </div>
      </div>
      <div class="picture-img">
        <div class="row fix">
          <div class="col-3 image">
            <img src="../images/pic1.jpg" alt="" width="200" height="200">
          </div>
          <div class="col-3 image">
            <img src="../images/pic1.jpg" alt="" width="200" height="200">
          </div>
          <div class="col-3 image">
            <img src="../images/pic1.jpg" alt="" width="200" height="200">
          </div>
          <div class="col-3 image">
            <img src="../images/pic1.jpg" alt="" width="200" height="200">
          </div>
          <div class="col-3 image">
            <img src="../images/pic1.jpg" alt="" width="200" height="200">
          </div>
          <div class="col-3 image">
            <img src="../images/pic1.jpg" alt="" width="200" height="200">
          </div>
          <div class="col-3 image">
            <img src="../images/pic1.jpg" alt="" width="200" height="200">
          </div>
          <div class="col-3 image">
            <img src="../images/pic1.jpg" alt="" width="200" height="200">
          </div>
        </div>
      </div>
    </div>
    <div class="services" style="background-color: rgb(93, 102, 133); ;" !important>
      <div class="section">
        <div class="visit-me">
          <p class="title-content"><u>JUST</u> DEFAULT SECTION</p>
          <p class="section-content">Bear claw marzipan bear claw applicate Iloce muffin. Lemons drops gummi
            bears pastry gummy bears sesame snaps I love undwear.com. Souffle cotton candy
            desert candy ice cream water gummies cheesecake brownie
            </br>
          </p>
          <p class="next-content"> Muffy chupa chups jelly beans sweet pie aplicake. Croissant chocolate cake I love
            pudding. Ice cream
            I love powder pudding apple pie marshmallow. Cupcake marzipan oat cake bonbon I love candy canes toffe.</p>

          <button type="button" class="btn btn-outline-dark btn-section">Visit me</button>
        </div>
        <div class="youtube">
          <iframe width="480" height="250" src="https://www.youtube.com/embed/HaBnQAv8V-E" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="twitter">
      <div class="services" style="height: 230px;" !important>
        <div class="section" style="height: 230px;">
          <p class="title-twitter"><u>TWI</u>TTER <i class="fab fa-twitter icon-twitter"></i></p>
          <p class="section-content" style="font-size: 18px;">Unerdwear cookie liquorice. Cake donut cupcake lolipop
            sauffle. Chocolate oat Cake</br>
            @cheesecake tootsie roll.
          </p>
        </div>
      </div>
      <div class="section">
        <div class="visit-me">
          <p class="title-content"><u>WH</u>O IS HAI NAM</p>
          <p class="section-content">Bear claw marzipan bear claw applicate Iloce muffin. Lemons drops gummi
            bears pastry gummy bears sesame snaps I love undwear.com. Souffle cotton candy
            desert candy ice cream water gummies cheesecake brownie
          </p>
          <p class="next-content"> Muffy chupa chups jelly beans sweet pie aplicake. Croissant chocolate cake I love
            pudding. Ice cream
            I love powder pudding apple pie marshmallow. Cupcake marzipan oat cake bonbon I love candy canes toffe.</p>
        </div>
        <div class="youtube" style="position: relative;">
          <p class="section-content human">Bear claw marzipan bear claw applicate Iloce muffin. Lemons drops gummi
            bears pastry gummy bears sesame snaps I love undwear.com. Souffle cotton candy
            desert candy ice cream water gummies cheesecake brownie</p>
          <p class="next-content next-icon">
            <button type="button" class="btn btn-outline-dark"><i class="fab fa-twitter icon"></i></button>
            <button type="button" class="btn btn-outline-dark"><i class="fab fa-google-plus-g icon"></i></button>
            <button type="button" class="btn btn-outline-dark"><i class="fas fa-basketball-ball icon"></i></button>
            <button type="button" class="btn btn-outline-dark"><i class="fas fa-coffee icon"></i></button>
          </p>
        </div>
      </div>
    </div>
    <div class="services" style="background-color:cornsilk; height: 230px;" !important>
      <div class="section" style="height: 230px; position: relative;">
        <p class="title-twitter" style="color: black;"><u>TES</u>TIMONIALS <i
            class="fab fa-battle-net icon-twitter"></i></p>
        <p class="section-content" style="font-size: 18px; color: black; ">Applicate chocolate cake water toffe pie
          Souffle water. Tart marshmallow wafer
          macaroon cheesecake jelly.</br>
          Gingerbread cookie Souffle sweet roll sweet roll jelly-o.
        </p>
        <p id="author">-Walter White</p>
      </div>
    </div>
    <div class="contact">
      <div class="contact-section">
        <p class="contact-name"><u>CO</u>NTACT</p>
        <div class="contact-input">
        <p>FULLNAME</p>
        <input type="text" id="name" name="name">
        <p>EMAIL</p>
        <input type="text" id="email" name="email">
        </div>
        <div class="contact-info"> 
          <p>Jujubes bear claw croissant wafer sweet lemon drops brownie chocolate bar. Sweet lolipop
            halvah tootsie roll cake fruitcake. Chocolate cake chocolate bar Gingerbread lolipop tart.
            Jujubes bear claw donut chupa chups.
          </p>
          <div class="next-info">
            <p>Linda Newman</br>
              W325 State Road 123</br>
              Modovi WI(Wiscosin) 98746-54321</br>
              (715) 946 - 1234</p>
          </div>
        </div>
        <div class="contact-message">
          <p>Message</p>
          <textarea name="message" id="message" ></textarea>
          <button type="button" class="btn btn-primary" style="width: 150px;">Message</button>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="contact-section">
          <ul class="footer-info">
            <li class="info-item"><a href="#">HOME</a></li>
            <li class="info-item"><a href="#">SERVICES</a></li>
            <li class="info-item"><a href="#">PORTFOLIO</a></li>
            <li class="info-item"><a href="#">CONTACT</a></li>
           <span class="icon-twitter" style="line-height: 100px;color: cornsilk;font-size: 12px;">2013</span>
          </ul>
      </div>
    </div>
  </div>
</body>

</html>